*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#navbar{
    height: 30px;
    width: 100%;
    background-color:rgba(58, 54, 54, 0.767);
    display: flex;
    justify-content: space-evenly;
   position: fixed;
}
#navbar a{
    
    text-decoration: none;
    color: rgb(255, 255, 255);
    font: size 20px;
    justify-content: space-evenly;
    
}
i{
    color: rgb(255, 255, 255);
    size: 20px;
}
#page1{
    height: 95%;
    width: 100%;
}
#page1 h5{
    background-color: rgb(66, 64, 64);
    text-align: center;
    height: 60px;
    font-weight: 450;
    color: aliceblue;
   padding-top: 35px;
}
#page1 h5 a{
    color: blue;
}
#page1 .pic1{
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 1.1;
    padding-top: 80px;
    font-size: 20px;
    font-weight: 200;
    background-size: cover;
    background-position: center;
    background-image: url(https://www.apple.com/v/home/be/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_medium.jpg);
}
h1{
    font-weight: 550;
}
h4{
    font-weight: 400;
    margin-bottom: 20px;
}
a{
    color: blue;
    text-decoration: none;
    margin-left: 20px;
}
a:hover{
    text-decoration: underline;
}
#page2{
    height: 90%;
    width: 100%;
}
#page2 .pic2{
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 1.1;
    padding-top: 80px;
    font-size: 20px;
    font-weight: 200;
    background-image: url(https://www.apple.com/v/home/be/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_medium.jpg);
    background-size: cover;
    background-position: center;
}

#page3{
    background-color: aqua;
    text-align: center;
    padding-top: 30px;
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    background-image: url(https://www.apple.com/in/home/heroes/apple-watch-series-9/images/hero_apple_watch_series_9_order__d0fi9mb84dci_medium.jpg);
}

#page3 .pic3 h4{
    font-size: 25px;
    font-weight: 400;
    color: white;

}
#page4{
    height: 90%;
    width: 100%;
    display: flex;
    background-color: aqua;
}
#page4 .part1{
   height: 100%;
   width: 50%;
   color: antiquewhite;
   background-image: url(https://www.apple.com/in/home/promos/ipad-pro/images/promo_ipadpro_refresh__evi9utuixwuq_large.jpg);
background-position: center;
background-size: cover;
text-align: center;
padding-top: 70px;
}
.part1 h3{
    font-weight: 300;
    text-align: center;
}
#page4 .part2{
    height: 100%;
    width: 50%;
    background-image: url(https://www.apple.com/in/home/promos/apple-watch-ultra-2/images/promo_apple_watch_ultra2_order__dyxqj5ia98om_large.jpg);
 background-position: bottom;
 background-size: cover;
 text-align: center;
padding-top: 40px;
 }

 #page5{
    height: 90%;
    width: 100%;
    display: flex;
    background-color: aqua;
}
#page5 .part1{
    height: 100%;
    width: 50%;
    color: rgb(0, 0, 0);
    background-image: url(https://www.apple.com/v/home/be/images/promos/macbook-air-15/promo_macbook_air_15_midnight__3zojl1nanrme_medium.jpg);
 background-position: center;
 background-size: cover;
 text-align: center;
 padding-top: 70px;
 }
 #page5 .part2{
    height: 100%;
    width: 50%;
    color: antiquewhite;
    background-image: url(https://www.apple.com/v/home/be/images/promos/airpods-pro/promo_airpods_pro_order__d8xv36p4uwae_medium.jpg);
 background-position: center;
 background-size: cover;
 text-align: center;
 padding-top: 70px;
 }
 #page6{
    height: 90%;
    width: 100%;
    display: flex;
    background-color: aqua;
}
 
 #page6 .part1{
    height: 100%;
    width: 50%;
    color: rgb(0, 0, 0);
    background-image: url(https://www.apple.com/v/home/be/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_large.jpg);
 background-position: center;
 background-size: cover;
 text-align: center;
 padding-top: 70px;
 }
 #page6 .part2{
    height: 100%;
    width: 50%;
    font-size: 20px;
    background-image: url(https://www.apple.com/v/home/be/images/promos/homepod-mini/tile_homepod_mini__b73w4z3ljymu_large.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 70px;
}

#page7{
    height: 80%;
    width: 100%;
    /* background-color: blue; */
  
   white-space: nowrap;
   

}
#page7 #pic{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
}
#pic img{
    animation-delay: 1s;
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

   
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-350%);
    }
    
}

#page8{
    padding: 120px 100px;
    height: 100%;
    width: 100%;
    background-color: rgb(225, 230, 235);
}
.box{
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
p{
    padding-top: 20px;
    font-size: 12px;
}